.row.feeds
  - @feeds.each do |feed|
    - cache feed do
      .col-sm-4.col-xs-12
        a.feed(href="#{feed_path(feed)}")
          .img
            = image_tag feed.image.thumb.url
          .title = feed.title
          .short-content= feed.short_content


.text-center
  = paginate @feeds