.feed-page, .feed{
  display: block;
  color: #333;

  &:hover{
    text-decoration: none;
  }

  .img{
    text-align: center;
  }

  .title{
    padding: 36px 0 10px 0;
    font-family: Lora;
    font-size: 25px;
    line-height: 30px;
  }

  .short-content, .content{
    font-size: 16px;
    color: #777;
  }
}

.feed{
  padding: 30px 0;
  min-height: 500px;

  .img{
    width: 100%;
    min-height: 200px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
  }
}

.feed-page{
  .title{
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
  }

  .content{
    font-size: 22px;
  }
}